<div class="asdf">
<%= form_for(@yes_cute) do |f| %>
  <% if @yes_cute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@yes_cute.errors.count, "error") %> prohibited this yes_cute from being saved:</h2>

      <ul>
      <% @yes_cute.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="input-group">
    <%= f.text_field :image_url, :class => "form-control", :placeholder => "Animal" %>
  </div>
<br>
  <div class="input-group">
    <%= f.text_field :image_url, :class => "form-control", :placeholder => "Image URL" %>
  </div>
<br>
  <div class="input-group">
    <%= f.text_field :image_url, :class => "form-control", :placeholder => "Cuteness level" %>
  </div>
<br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>